*{
    margin: 0;
    padding: 0;
}

body
{
    font-family: "Poppins", sans-serif;
    background-color: #f4f4f4;
    color: #333;
}
html, body{
    scroll-behavior: smooth;
}

h1{
    font-family: "Limelight", sans-serif;
    font-size: 30px;
    text-align: center;
}

.container
{
    max-width: 1024px;
    width: 80%;
    margin: auto;
}

.container h1
{
    margin-top: 25px;
    margin-bottom: 10px;
}

.container > p
{
    text-align: center;
}
/* gallery-section */
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}
.card-inner{
    position: relative;
    height: 250px;
    transition: .5s ease;
    transform-style: preserve-3d;
}
.card:hover .card-inner{
    transform: rotateY(180deg);
}
.card-front, .card-back{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border: 1px solid black;
    border-radius: 15px;
    overflow: hidden;

}
.card-front img{
    width: 100%;
    height: 180px;
    object-fit: cover;
}
.card-front{
    background-color: white;
    display: flex;
    flex-direction: column;
    text-align: center;
}
.card-back{
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: rotatey(180deg);
}
.recipe{
    margin: 45px 0px;
}
.recipes{
    background-color: white;
    padding: 15px;
    border-left: 5px solid black;
}
.card-back a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}

/* second project */
.box{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
    padding-top: 80px;
    

}
.boxes{
    background-color: white;
    border-radius: 15px;
    box-shadow: 0px 10px 15px rgba(0, 0,0,.5);
    height: 250px;
    width: 300px;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: .5s ease;
}
.boxes img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    object-fit: cover;
    /* margin-bottom: 15px; */

}
.boxes span{
    font-weight: bold;
}
.pop-up{
    background-color: aqua;
    position: absolute;
    bottom: -100%;
    width: 100%;
    left: 0;
    padding: 10px 0;
    text-align: center;
    transition: .5s ease;
}
.boxes:hover{
    transform: translatey(-10px);
}
.boxes:hover .pop-up{
    bottom: 0;
}
